* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*i could not find a better way to cut down on the header sections :/ */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none
}
/*all my attributes will have this color and no txt decoration */
a {
    color: #ffffff;
    text-decoration: none;
}
/*all of my paragraphs will have this font-size and text throughout the page */
p {
    font-size: 16px;
    margin-bottom: 32px;
}
/*changed the div="hero" to the more semantic friendly <main>*/
.main {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*float helps the image stay on the left side*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*float right makes the other image hang to the right, this creates the back and forth of the pictures you see in the <article> section*/
.float-right {
    float: right;
    margin-left: 25px;
}

.section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* i changed the div class="benefits to the semnatic head <aside>*/
.aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*a lot of the css within the former "benefit" class was very redundant. i removed the redudancies and replaced them with the more semantic friendly <figure>*/



.figure {
    color:white;
}

.figure h3 {
    margin-bottom: 10px;
    text-align: center;
}

.figure img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* same thing with the images and writing inside the former div="content". I changed the div to meet semantic html (<article>). After the name change i consolidated them together*/

.articlecontent {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.articlecontent img {
    max-height: 200px;
}


.articlecontent h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

.footer h2 {
    font-size: 20px;
    color: black;
}
